{{!-- <h1>hi admin home</h1>
<a href="">Dashboard</a>
<a href="/admin/games">Games</a>
<a href="">Users</a> --}}

<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <img src="/images/icon.png">
      </div>
      <div class="sidebar-brand-text mx-3"></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Features
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true"
        aria-controls="collapseBootstrap">
        <i class="far fa-fw fa-window-maximize"></i>
        <span>Product management </span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Admin Accessibilities</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/games">Games</a>
          <a class="collapse-item" href="/admin/addgames">Add New Game</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
        aria-controls="collapseForm">
        <i class="fab fa-fw fa-wpforms"></i>
        <span>Category Management</span>
      </a>
      <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Category Management</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/categoriesTable">Category Table</a>
          <a class="collapse-item" href="/admin/categories">Add Category</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>User Management</span>
      </a>
      <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Users Management</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/usertable">Users</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOder" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Order Management</span>
      </a>
      <div id="collapseOder" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Oders Management</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/orders">Orders</a>
          {{!-- <a class="collapse-item" href="/admin/addgames">Add New Game</a> --}}
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBanner" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Banner Management</span>
      </a>
      <div id="collapseBanner" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Banner Management</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/banner">Banners</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCoupon" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Coupons Management</span>
      </a>
      <div id="collapseCoupon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Coupons Management</h6>
          <a class="collapse-item" href="/admin/home">Home</a>
          <a class="collapse-item" href="/admin/coupon">Coupons</a>
          <a class="collapse-item" href="/admin/coupon/table">Coupons Table</a>
        </div>
      </div>
    </li>
  </ul>
  <!-- Sidebar -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- TopBar -->
      <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
        <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-1 small"
                    placeholder="What do you want to look for?" aria-label="Search" aria-describedby="basic-addon2"
                    style="border-color: #3f51b5;">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <span class="badge badge-warning badge-counter">2</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Message Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/assets/img/man.png" style="max-width: 60px" alt="">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                    having.</div>
                  <div class="small text-gray-500">Udin Cilok · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/assets/img/girl.png" style="max-width: 60px" alt="">
                  <div class="status-indicator bg-default"></div>
                </div>
                <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                    say this to all dogs, even if they aren't good...</div>
                  <div class="small text-gray-500">Jaenab · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-tasks fa-fw"></i>
              <span class="badge badge-success badge-counter">3</span>
            </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Task
              </h6>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Design Button
                    <div class="small float-right"><b>50%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Make Beautiful Transitions
                    <div class="small float-right"><b>30%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item align-items-center" href="#">
                <div class="mb-3">
                  <div class="small text-gray-500">Create Pie Chart
                    <div class="small float-right"><b>75%</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
            </div>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img class="img-profile rounded-circle" src="/assets/img/boy.png" style="max-width: 60px">
              <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Topbar -->

      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">
        <div class="row">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
          <!-- Area Chart -->
          <div class="col-xl-8 col-lg-7">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sales</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>

              {{!-- <div class="card-body">
                <div class="chart-area">
                  <canvas id="myAreaChart">
                  </canvas>
                </div>
              </div> --}}
              <div class="body-body col-12" style="max-height:fit-content;max-width: fit-content;margin: 1rem;">
                {{!-- form --}}
                <div class="container m-0 p-0">
                  <div class="row m-0 p-0">
                    <div style="display: flex;" class="m-0 p-0">
                      <div class="form-group">
                        <input type="date" class="form-control m-1" id="from" aria-describedby="emailHelp"
                          placeholder="From">
                      </div>
                      <div class="form-group ml-1">
                        <input type="date" class="form-control m-1" id="to" aria-describedby="emailHelp"
                          placeholder="To">

                      </div>
                      <div class="form-group ml-1" style="display: flex;justify-content: center;">
                        <button type="submit" onclick="getDatas()" class="btn m-1 btn-primary">Check</button>
                        <button onclick="findData('month')" class="btn m-1 btn-info" style="">Monthly</button>
                        <button onclick="findData('year')" class="btn m-1 btn-success" style="">Yearly</button>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="small text-gray-500">
                        <span style="color: rgb(0, 176, 188);">Sales</span>
                        <div class="small float-right" style="color: black;"><b>{{currentSales}}%</b></div>
                      </div>
                      <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{currentSales}}%"
                          aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="small text-gray-500">
                        <span style="color: rgb(128, 0, 0);">Cost</span>
                        <div class="small float-right" style="color: black;"><b>{{cost}} %</b></div>
                      </div>
                      <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{cost}}%"
                          aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <div class="small text-gray-500">
                        <span style="color: green;">Profit Margin 90'</span>
                        <div class="small float-right" style="color: black;"><b>{{profitMargin}} %</b></div>
                      </div>
                      <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{profitMargin}}%"
                          aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <canvas class="my-4 w-100" id="myChart1" height="500" width="700"></canvas>

              </div>
            </div>
          </div>
          <!-- Pie Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class="card mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Most Downloads</h6>
                <div class="dropdown no-arrow">
                  <a class="dropdown-toggle btn btn-primary btn-sm" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Month <i class="fas fa-chevron-down"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Select Periode</div>
                    <a class="dropdown-item" href="#">Today</a>
                    <a class="dropdown-item" href="#">Week</a>
                    <a class="dropdown-item active" href="#">Month</a>
                    <a class="dropdown-item" href="#">This Year</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="body-body" style="height:400px;max-width: fit-content;margin-left:auto;margin-right: auto;">
                  <canvas class="my-4" id="myChart"></canvas>

                </div>
                <div class="mb-3">
                  <div class="small text-gray-500">Oblong T-Shirt
                    <div class="small float-right"><b>600 of 800 Items</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="small text-gray-500">Gundam 90'Editions
                    <div class="small float-right"><b>500 of 800 Items</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="small text-gray-500">Rounded Hat
                    <div class="small float-right"><b>455 of 800 Items</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="small text-gray-500">Indomie Goreng
                    <div class="small float-right"><b>400 of 800 Items</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="small text-gray-500">Remote Control Car Racing
                    <div class="small float-right"><b>200 of 800 Items</b></div>
                  </div>
                  <div class="progress" style="height: 12px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-center">
                <a class="m-0 small text-primary card-link" href="#">View More <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section>
        <div
          style="display: none;width:100%;position: fixed;top:0%;padding-top:5%;background-color: rgba(255, 255, 255, 0.5);z-index:3;height:100%;"
          id="chartid2">
          <div style="background-color: #d1d1d1;float: left;width:80%;height:100%;">
            <div style="display: flex;justify-content: center;">
              <h4>Sales Report</h4>
            </div>
            <div style="display: flex;">
              <h4 id="noResult" style="display: flex;justify-content: center;color: rgb(120, 0, 0);width:60%;"></h4>
              <button onclick="findData('month')" class="btn m-1 btn-info" style="">Monthly</button>
              <button onclick="findData('year')" class="btn m-1 btn-success" style="">Yearly</button>
              <button class="btn m-1 btn-primary" style="">Download Report</button>
              <button onclick="closeWindow()" class="btn m-1 btn-warning">Close</button>
            </div>
            <canvas class="my-4 w-100" id="myChartid2" height="350" width="750" style="color: rgb(0, 255, 0);"></canvas>
            <canvas class="my-4 w-100" id="chartid3" height="350" width="750"
              style="color: rgb(0, 255, 0);display: none;"></canvas>
            <canvas class="my-4 w-100" id="chartid5" height="350" width="750"
              style="color: rgb(0, 255, 0);display: none;"></canvas>

          </div>
        </div>
      </section>

      <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">Earnings (Monthly)</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">${{profit}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span>Since last month</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-calendar fa-2x text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">Sales</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{orderModelLength}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span>Since last years</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-shopping-cart fa-2x text-success"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{users}}</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                    <span>Since last month</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-info"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Requests</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  <div class="mt-2 mb-0 text-muted text-xs">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span>Since yesterday</span>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-warning"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>copyright &copy;
              <script> document.write(new Date().getFullYear()); </script> - developed by
              <b><a href="https://indrijunanda.gitlab.io/" target="_blank">PlayStation</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    function findData(dataFilter) {
      const dataWndow = document.getElementById('chartid2');
      const nRes = document.getElementById('noResult');
      if (dataWndow.style.display == 'none') {
        document.getElementById('chartid2').style.display = 'block';
      }
      fetch('/admin/data/filter', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          dataFilter: dataFilter,
        })
      }).then((response) => {
        return response.json();
      }).then((data) => {
        console.log(data)
        if (data.dataFilter == 'month') {
          newChart(data.profitOfMonth, data.salesOfMonth, data.months,);
          document.getElementById('myChartid2').style.display = "none";
          document.getElementById('chartid3').style.display = "block";
          nRes.innerHTML = 'Monthly Order Details';
          nRes.value = 'month'
        } else if (data.dataFilter == 'year') {
          yearChar(data.profitOfMonth, data.salesOfMonth, data.months,);
          document.getElementById('chartid5').style.display = "block";
          document.getElementById('chartid3').style.display = "none";
          document.getElementById('myChartid2').style.display = "none";
          nRes.innerHTML = 'Yearly Order Details';
          nRes.value = 'year';
        }

      })

      function newChart(profitOfMonth, salesOfMonth, months,) {
        try {
          const xValues = months;
          const yValues = salesOfMonth;


          const chartData = {
            labels: xValues,
            datasets: [{
              label: 'Sales',
              data: yValues
            }, {
              label: 'Profit',
              data: profitOfMonth
            }]
          };

          const chartOptions = {
            title: {
              display: true,
              text: "Category"
            }
          };

          const chartConfig = {
            type: "bar",
            data: chartData,
            options: chartOptions
          };

          const chartElement = document.getElementById("chartid3");
          if (!chartElement) {
            throw new Error("Could not find chart canvas element");
          }

          new Chart(chartElement, chartConfig);
          return 'completed';
        } catch (error) {
          console.error("Error creating chart:", error);
        }
      }
      function yearChar(profitOfMonth, salesOfMonth, months,) {
        try {
          const xValues = months;
          const yValues = salesOfMonth;


          const chartData = {
            labels: xValues,
            datasets: [{
              label: 'Sales',
              data: yValues
            }, {
              label: 'Profit',
              data: profitOfMonth
            }]
          };

          const chartOptions = {
            title: {
              display: true,
              text: "Category"
            }
          };

          const chartConfig = {
            type: "bar",
            data: chartData,
            options: chartOptions
          };

          const chartElement = document.getElementById("chartid5");
          if (!chartElement) {
            throw new Error("Could not find chart canvas element");
          }

          new Chart(chartElement, chartConfig);
          return 'completed';
        } catch (error) {
          console.error("Error creating chart:", error);
        }
      }
    }
  </script>
  <script>
    function getDatas() {
      let fromInp = document.getElementById('from').value;
      let toInp = document.getElementById('to').value;
      let noR = document.getElementById('noResult');
      fetch('/admin/sales/update', {
        method: 'POST', // or 'PUT'
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          from: fromInp,
          to: toInp
        })
      }).then((response) => {
        return response.json();
      }).then((data) => {
        noR.value = 'check';
        newChart(data.orderTotal, data.gameName, data.salesPerc, data.inpCost);
        document.getElementById('chartid2').style.display = "block";
        console.log(data.newDataByDate.length, '-----------------')
        if (data.newDataByDate.length == []) {
          noR.innerHTML = 'No Datas Found';
        }
      })

      function newChart(monthlyPrice, names, salesPerc, inpCost) {
        try {
          const xValues = names;
          const yValues = monthlyPrice;


          const chartData = {
            labels: xValues,
            datasets: [{
              label: 'Sales',
              data: yValues
            }, {
              label: 'Cost',
              data: inpCost
            }, {
              label: 'Profit',
              data: salesPerc
            }]
          };

          const chartOptions = {
            title: {
              display: true,
              text: "Category"
            }
          };

          const chartConfig = {
            type: "line",
            data: chartData,
            options: chartOptions
          };

          const chartElement = document.getElementById("myChartid2");
          if (!chartElement) {
            throw new Error("Could not find chart canvas element");
          }

          new Chart(chartElement, chartConfig);
        } catch (error) {
          console.error("Error creating chart:", error);
        }
      }


    }
    function closeWindow() {
      window.location.reload();
      document.getElementById('chartid2').style.display = "none";
    }
  </script>
  <script>

    graphMng();
    async function graphMng() {
      const response = await fetch('/admin/sales', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        },
      })
      const data = await response.json();
      console.log(data);
      let gameNames = data.gameNames;
      let gameDownloads = data.gameDownloades;
      let monthlyIncome = data.revanueData;
      let revGames = data.revanueGame;
      let ordersData = data.ordersByDate

      pieChart(gameNames, gameDownloads)
      lineChart(monthlyIncome, gameNames);
    }


    function pieChart(names, downloads) {

      const xValues = names
      const yValues = downloads
      const barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145",
        "#2b579",
        "#C7FF33"
      ];
      new Chart("myChart", {
        type: "pie",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "Category"
          }
        }
      });
    }
    function lineChart(monthlyPrice, names) {

      const xValues = names
      const yValues = monthlyPrice;
      const barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145",
        "#2b579",
        "#C7FF33"
      ];
      new Chart("myChart1", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{
            label: 'Games',
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "Category"
          }
        }
      });
    }



  </script>