<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->


<html lang="zxx">

  <!-- Head -->
  <head>

    <title>Game Robo a Gaming Category Bootstrap Responsive Website Template |
      Home :: W3layouts</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="Game Robo a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); },
      false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //Meta-Tags -->

    <!-- Custom-Stylesheet-Links -->
    <!-- Bootstrap-CSS -->
    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
      type="text/css"
      media="all"
    />
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Owl-Carousel-CSS -->
    <link
      rel="stylesheet"
      href="css/owl.carousel.css"
      type="text/css"
      media="all"
    />
    <!-- Chocolat-CSS -->
    <link
      rel="stylesheet"
      href="css/chocolat.css"
      type="text/css"
      media="all"
    />
    <!-- Animate-CSS -->
    <link
      rel="stylesheet"
      href="css/animate-custom.css"
      type="text/css"
      media="all"
    />
    <!-- //Custom-Stylesheet-Links -->

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Montserrat:400,700"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Press+Start+2P"
      type="text/css"
      media="all"
    />
    <!-- //Fonts -->

    <!-- Font-Awesome-File-Links -->
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <!-- TTF -->
    <link
      rel="stylesheet"
      href="fonts/fontawesome-webfont.ttf"
      type="text/css"
      media="all"
    />
    <!-- //Font-Awesome-File-Links -->
    <style>
      .nav-btn.{
 
      }
      .navigs{
        font-size: small;
      }
    </style>

  </head>
  <!-- //Head -->

  <!-- Body -->
  <body>

    <!-- Header -->
    <div class="agileheader" id="agileitshome">

      <!-- Navigation -->
      <div class="w3lsnavigation">
        <nav
          class="navbar navbar-inverse agilehover-effect wthreeeffect navbar-default"
        >

          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <div class="logo">
              <a class="navbar-brand logo-w3l button" href="" style="color:rgb(0, 255, 0);font-family: font-family: 'Anton', sans-serif;
                font-family: 'Chivo Mono', monospace;
                font-family: 'Courgette', cursive;
                font-family: 'Teko', sans-serif;">PlayStation</a>
            </div>
            <!-- //Logo -->
          </div>

          <div id="navbar" class="navbar-collapse navbar-right collapse">
            <ul
              class="nav navbar-nav navbar-right cross-effect"
              id="cross-effect"
            >
              {{#if isLoggedIn}}
              <li><a class="scroll" style="font-size: x-small;" href="#w3lsaboutaits">ABOUT</a></li>
                <li><a
                    class="scroll" style="font-size: x-small;"
                    href="#agileinfoplatforms"
                  >PLATFORMS</a></li>
                <li><a class="scroll" style="font-size: x-small;" href="#wthreetabsaits">COLLECTION</a></li>
                <li><a class="scroll" style="font-size: x-small;" href="#wthreeblogsaits">BLOG</a></li>
                <li><a class="scroll" style="font-size: x-small;" href="#w3portfolioaits">PORTFOLIO</a></li>
                <li><a class="scroll" style="font-size: x-small;" href="#agilecontactw3ls">CONTACT</a></li>
                <li>
                  <a style="font-size: x-small; padding: 0; margin-top: 7px;" href="/cart">
                    <img style="border-radius:7px; width: 25px;" src="images/Cartimg.png" alt="">
                    <span style="margin-left:-1rem;background-color: rgb(20, 117, 3);font-size:smaller;font-weight:lighter;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{cartCount}}
                    </span>
                  </a>
                </li>
                {{!-- <li><a style="font-size: x-small; padding: 0;margin-left: 5px; margin-top: 7px;" href="#agilecontactw3ls"><img style="border-radius:7px; width: 25px;height: 25px;" src="images/search.png" alt=""></a></li> --}}
                <li class="nav-item dropdown no-arrow">
                  <a style="font-size: x-small; padding: 0;margin-left: 5px; margin-top: 7px;" class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img style="border-radius:7px; width: 25px;height: 25px;" src="images/search.png" alt="">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right p-1 shadow animated--grow-in"
                    aria-labelledby="searchDropdown" style="border-radius: 10px;">
                    <form action="/game/search" method="post" class="navbar-search" style="display: flex;">
                      <input style="background-color: rgba(38, 38, 38, 0.379);width:80%;border: 1px solid rgb(0, 255, 0);color: rgb(255, 255, 255);border-radius: 10px;" type="text" name="search" placeholder="Search your Favorite Games">
                      <button type="submit" style="width:20%;background: none;border: none;color: rgb(0, 255, 0);"><ion-icon style="font-size:30px;" name="search-circle-outline"></ion-icon></button>
                    </form>
                  </div>
                </li>
                {{!-- <li><a class="scroll" style="font-size: x-small; padding: 0;margin-top: -3px;margin-left: 3px; margin-top: 4px;" href="#agilecontactw3ls"><img style="border-radius:7px; width: 30px;" src="images/Settings.png" alt=""></a></li> --}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: x-small; padding:0;margin-top: -3px;margin-left: 3px; margin-top: 4px;margin-right:3px;"><img style="border-radius:7px; width: 31px;" src="images/Settings.png" alt=""></a>
                  <div class="dropdown-menu" style="border-radius: 20px; width:70px;background:linear-gradient(rebeccapurple,rgb(126, 1, 84));">
                    <a style="font-size:x-small;margin-left: 1.3rem;" href="/userprofile">My Profile</a>
                    <a style="font-size:x-small;margin-left: 1.3rem;" href="/products">Products</a>
                    <form action="/logout" method="post">
                      <input type="submit" value="LogOut" style="border: none;background: none;margin:0;color: aliceblue;" />
                    </form>
                  </div>
                </li>

                {{!-- <button class="btn nav-btn" style="width: 27px;height: 27px;padding: 0;background: none;margin-top: 12px;"><img style="border-radius: 7px;margin-right:10px;" src="images/search.png" alt=""></button>
                <button class="btn nav-btn" style="width: 27px;height: 27px;padding: 0;background: none;margin-top: 12px;margin-left: 4px;"><img style="border-radius: 7px;" src="images/Cartimg.png" alt=""></button>
                <button class="btn nav-btn" style="width: 34px;height: 34px;padding: 0;background: none;margin-top: 12px;"><img src="images/Settings.png" alt=""></button> --}}

              {{else}}
                <li><button style="width: 79px;height: 30px;padding: 0; margin: 5px;background-color: blue;" class="btn btn-primary"><a style="margin-top: -6px;color: azure;" href="/login">Login</a></button></li>
                <li><button style="width: 79px;height: 30px;padding: 0; margin: 5px;background-color: green;" class="btn btn-success"><a style="margin-top: -6px;color: azure" href="/signup">signUp</a></button></li>

              {{/if}}
            </ul>
          </div><!-- //Navbar-Collapse -->

        </nav>
      </div>
      <!-- //Navigation -->

      <!-- Slider -->
      <div class="slider">
        <ul class="rslides" id="slider">
          <li style="height:600px;" class="first-slide w3ls">
            <img style="object-fit: cover;" src="/gameimages/{{banners.image.[0]}}" alt="Game Robo" />
          </li>
          {{!-- <li class="second-slide aits">
            <img src="images/slide-2.jpeg" alt="Game Robo" />
          </li> --}}
          <li style="height:600px;" class="third-slide w3-agileits">
            <img style="object-fit: cover;" src="/gameimages/{{banners.image.[1]}}" alt="Game Robo" />
          </li>
          <li style="height:600px;" class="fourth-slide agileinfo">
            <img style="object-fit: cover;" src="/gameimages/{{banners.image.[2]}}" alt="Game Robo" />
          </li>
          <li style="height:600px;" class="fifth-slide wthree">
            <img style="object-fit: cover;" src="/gameimages/{{banners.image.[3]}}" alt="Game Robo" />
          </li>
        </ul>
      </div>
      <!-- //Slider -->

    </div>
    <!-- //Header -->

    <!-- About -->
    <div class="w3lsaboutaits" id="w3lsaboutaits">
      <div class="container">
        <div class="w3lsaboutaits-grids">
          <div class="col-md-6 w3lsaboutaits-grid w3lsaboutaits-grid-1">
            <h3>Choose from 10000+ Games to Download</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-md-6 w3lsaboutaits-grid w3lsaboutaits-grid-2">
            <img src="images/about.jpg" alt="Game Robo" />
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //About -->
    
    <!-- Stats -->
    <div class="w3lsstatsaits" id="w3lsstatsaits">
      <div class="container">

        <div class="w3lsstatsaits-info">
          <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-1">
            <div class="w3lsstatsaits-img">
              <img src="images/stats-1.png" alt="Corsa Racer" />
            </div>
            <div
              class="w3lsstatsaitsstats counter"
              data-slno="1"
              data-min="0"
              data-max="10000"
              data-delay="5"
              data-increment="4"
            >10000</div>
            <p>Games</p>
          </div>
          <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-2">
            <div class="w3lsstatsaits-img">
              <img src="images/stats-2.png" alt="Corsa Racer" />
            </div>
            <div
              class="w3lsstatsaitsstats counter"
              data-slno="1"
              data-min="0"
              data-max="1657033000"
              data-delay="5"
              data-increment="1"
            >1657033000</div>
            <p>Downloads</p>
          </div>
          <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-3">
            <div class="w3lsstatsaits-img">
              <img src="images/stats-3.png" alt="Corsa Racer" />
            </div>
            <div
              class="w3lsstatsaitsstats counter"
              data-slno="1"
              data-min="0"
              data-max="192000"
              data-delay="5"
              data-increment="11"
            >192000</div>
            <p>Followers</p>
          </div>
          <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-4">
            <div class="w3lsstatsaits-img">
              <img src="images/stats-4.png" alt="Corsa Racer" />
            </div>
            <div
              class="w3lsstatsaitsstats counter"
              data-slno="1"
              data-min="0"
              data-max="71600"
              data-delay="5"
              data-increment="1"
            >71600</div>
            <p>Online Gamers</p>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
    <!-- //Stats -->

    {{!-- <!-- Platforms -->
    <div class="agileinfoplatforms" id="agileinfoplatforms">
      <div class="agileinfoplatformsgrids">
        <div class="col-md-3 w3agile_gallery_grid w3agile_gallery_grid1">
          <div class="w3agile_gallery_image">
            <figure>
              <img
                src="images/platform-1.jpg"
                alt="Game Robo"
                class="img-responsive"
              />
              <figcaption>
                <h4>PC</h4>
                <p><span><img
                      src="images/platform-1-icon.png"
                      alt="Game Robo"
                    /></span></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-3 w3agile_gallery_grid w3agile_gallery_grid2">
          <div class="w3agile_gallery_image">
            <figure>
              <img
                src="images/platform-2.jpg"
                alt="Game Robo"
                class="img-responsive"
              />
              <figcaption>
                <h4>Playstation</h4>
                <p><span><img
                      src="images/platform-2-icon.png"
                      alt="Game Robo"
                    /></span></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-3 w3agile_gallery_grid w3agile_gallery_grid3">
          <div class="w3agile_gallery_image">
            <figure>
              <img
                src="images/platform-3.jpg"
                alt="Game Robo"
                class="img-responsive"
              />
              <figcaption>
                <h4>XBOX</h4>
                <p><span><img
                      src="images/platform-3-icon.png"
                      alt="Game Robo"
                    /></span></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="col-md-3 w3agile_gallery_grid w3agile_gallery_grid4">
          <div class="w3agile_gallery_image">
            <figure>
              <img
                src="images/platform-4.jpg"
                alt="Game Robo"
                class="img-responsive"
              />
              <figcaption>
                <h4>WII</h4>
                <p><span><img
                      src="images/platform-4-icon.png"
                      alt="Game Robo"
                    /></span></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //Platforms --> --}}
 
    <!-- Tabs -->
    <div class="wthreetabsaits" id="wthreetabsaits">
      <section>
        <h3>Collection</h3>
        <div class="tabs tabs-style-line">
          <nav class="container">
            <ul>
              <li><a href="#section-line-1"><span>POPULAR</span></a></li>
              <li><a href="#section-line-2"><span>NEW ARRIVALS</span></a></li>
              <li><a href="#section-line-3"><span>BEST SELLERS</span></a></li>
              <li><a href="#section-line-4"><span>EDITOR'S PICK</span></a></li>
            </ul>
          </nav>
          <div class="content-wrap">
            <section id="section-line-1">
               <div class="row" style="display: flex;overflow-x: scroll;">
              {{#each gamesData}}
                <div class="card" style="height: 200px;width:250px; margin:2rem;border-radius:10px;padding:1rem;background:linear-gradient(rgb(0, 153, 255),rebeccaPurple)">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="height: 65%;">
                    <a href="/product-view?id={{this._id}}">
                      <img src="gameimages/{{this.image.[0]}}" class="img-fluid" style="width:200px;border-radius: 10px;height:100%;"/>
                    </a>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                      </div>
                    </a>
                  </div>
                  <a href="/product-view?id={{this._id}}" style="color:black;">
                    <div class="card-body">
                      <h4 class="card-title"><b>{{this.name}}</b></h4>
                      <h6 class="card-text" style="color: grey;"><b>{{this.category}}</b></h6>
                      {{!-- <h5 class="card-text" style="color:grey;">Downloads :<b>{{this.downloads}}</b></h5>
                      <h4>Rs.<b style="color:rgb(0, 135, 0);">{{this.price}}</b>/-</h4> --}}
                      <a href="/check-out?id={{this._id}}" class="btn btn-primary">Buy Now</a>
                      {{!-- <button onclick="addToCart('{{this._id}}')" class="btn btn-warning"><ion-icon style="font-size: 15px;" name="game-controller-outline"></ion-icon></button> --}}
                    </div>
                  </a>
                </div>
              {{/each}}
              {{!-- <div class="row">
                <div style="display: ;">
                  {{#each gamesData}}
                      <div class="card col-md-3" style=" width: 200%;margin:2rem;border-radius:10px;background-color: rgba(110, 110, 110, 0.657);padding: 1rem;">
                          <div
                          class="bg-image hover-overlay ripple"
                          data-mdb-ripple-color="light"
                          >
                          <img
                              src="gameimages/{{this.image.[0]}}"
                              class="img-fluid"
                              style="border-radius:10px;height: 70px;width:100%;"
                          />
                          <a href="#!">
                              <div
                              class="mask"
                              style="background-color: rgba(251, 251, 251, 0.15);"
                              ></div>
                          </a>
                          </div>
                          <div class="card-body">
                              <h4 class="card-title" style="color: aliceblue;"><b>{{this.name}}</b></h4>
                              <h6 class="card-text" style="color: aliceblue;"><b>{{this.category}}</b></h6>
                              <h5 class="card-text" style="color: aliceblue;">Downloads :<b>{{this.downloads}}</b></h5>
                              <h4 style="color: aliceblue;">Rs. {{this.price}}/-</h4>
                              <a style="margin-top: 10px; color: rgb(0, 0, 0);" href="/products" class="btn btn-primary">Buy Now</a>
                          </div>
                      </div>
                  {{/each}} 
                 </div>
              </div> --}}
                                
            </section>
          </div><!-- /content -->
        </div><!-- /tabs -->
      </section>
    </div>
    <!-- //Tabs -->

    <!-- Blogs -->
    {{!-- <div class="wthreeblogsaits" id="wthreeblogsaits">
      <div class="wthreeblogsaits-grids">

        <h3>Latest Blogs & News</h3>
        <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-1">
          <a href="#" data-toggle="modal" data-target="#myModal1"><img
              src="images/blog-1.jpg"
              alt="Game Robo"
            /></a>
          <span class="w3date">10-10-2016</span>
          <h4><a href="#" data-toggle="modal" data-target="#myModal1">NVIDIA
              TITAN X</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#myModal1"
          >READ MORE<i
              class="fa fa-arrow-right"
              aria-hidden="true"
            ></i></button>
        </div>
        <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-2">
          <a href="#" data-toggle="modal" data-target="#myModal2"><img
              src="images/blog-2.jpg"
              alt="Game Robo"
            /></a>
          <span class="w3date">15-10-2016</span>
          <h4><a href="#" data-toggle="modal" data-target="#myModal2">PS4 VR
              HEADSET</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#myModal2"
          >READ MORE<i
              class="fa fa-arrow-right"
              aria-hidden="true"
            ></i></button>
        </div>
        <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-3">
          <a href="#" data-toggle="modal" data-target="#myModal3"><img
              src="images/blog-3.jpg"
              alt="Game Robo"
            /></a>
          <span class="w3date">20-10-2016</span>
          <h4><a
              href="#"
              data-toggle="modal"
              data-target="#myModal3"
            >ACCESSORIES FOR XBOX</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#myModal3"
          >READ MORE<i
              class="fa fa-arrow-right"
              aria-hidden="true"
            ></i></button>
        </div>
        <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-4">
          <a href="#" data-toggle="modal" data-target="#myModal4"><img
              src="images/blog-4.jpg"
              alt="Game Robo"
            /></a>
          <span class="w3date">25-10-2016</span>
          <h4><a href="#" data-toggle="modal" data-target="#myModal4">NEW SUPER
              MARIO BROS!</a></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#myModal4"
          >READ MORE<i
              class="fa fa-arrow-right"
              aria-hidden="true"
            ></i></button>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- Tooltip-Content -->
      <div class="tooltip-content">

        <div
          class="modal fade details-modal"
          id="myModal1"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >&times;</button>
                <h4 class="modal-title">NVIDIA TITAN X</h4>
              </div>
              <div class="modal-body">
                <img src="images/blog-1.jpg" alt="Game Robo" />
                <p>Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC, making it over 2000 years old. Richard McClintock,
                  a Latin professor at Hampden-Sydney College in Virginia. Lorem
                  ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade details-modal"
          id="myModal2"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >&times;</button>
                <h4 class="modal-title">PS4 VR HEADSET</h4>
              </div>
              <div class="modal-body">
                <img src="images/blog-2.jpg" alt="Game Robo" />
                <p>Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC, making it over 2000 years old. Richard McClintock,
                  a Latin professor at Hampden-Sydney College in Virginia. Lorem
                  ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade details-modal"
          id="myModal3"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >&times;</button>
                <h4 class="modal-title">ACCESSORIES FOR XBOX</h4>
              </div>
              <div class="modal-body">
                <img src="images/blog-3.jpg" alt="Game Robo" />
                <p>Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC, making it over 2000 years old. Richard McClintock,
                  a Latin professor at Hampden-Sydney College in Virginia. Lorem
                  ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade details-modal"
          id="myModal4"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-hidden="true"
                >&times;</button>
                <h4 class="modal-title">NEW SUPER MARIO BROS!</h4>
              </div>
              <div class="modal-body">
                <img src="images/blog-3.jpg" alt="Game Robo" />
                <p>Contrary to popular belief, Lorem Ipsum is not simply random
                  text. It has roots in a piece of classical Latin literature
                  from 45 BC, making it over 2000 years old. Richard McClintock,
                  a Latin professor at Hampden-Sydney College in Virginia. Lorem
                  ipsum dolor sit amet, consectetur adipisicing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- //Tooltip-Content -->

    </div> --}}
    <!-- //Blogs -->

    <!-- Portfolio -->
    <div class="w3portfolioaits" id="w3portfolioaits">
      <h3><span style="color: rgb(0, 255, 0);">UNLIMITED</span> Drive</h3>
      <div class="w3portfolioaits-items">
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-1">
          <a
            class="example-image-link"
            href="images/popular-1.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/popular-1.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-2">
          <a
            class="example-image-link"
            href="images/editor-1.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/editor-1.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-3">
          <a
            class="example-image-link"
            href="images/editor-2.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/editor-2.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-4">
          <a
            class="example-image-link"
            href="images/editor-3.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/editor-3.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-5">
          <a
            class="example-image-link"
            href="images/editor-4.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/editor-4.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-6">
          <a
            class="example-image-link"
            href="images/editor-9.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/editor-9.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-7">
          <a
            class="example-image-link"
            href="images/best-8.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/best-8.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-8">
          <a
            class="example-image-link"
            href="images/best-6.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/best-6.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
          <a
            class="example-image-link"
            href="images/new-1.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/new-1.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
          <a
            class="example-image-link"
            href="images/new-7.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/new-7.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
          <a
            class="example-image-link"
            href="images/new-8.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/new-8.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="col-md-3 w3portfolioaits-item w3portfolioaits-item-9">
          <a
            class="example-image-link"
            href="images/popular-10.jpg"
            data-lightbox="example-set"
            data-title=""
          >
            <div class="grid">
              <figure class="effect-apollo">
                <img src="images/popular-10.jpg" alt="Game Robo" />
                <figcaption></figcaption>
              </figure>
            </div>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
    <!-- //Portfolio -->

    <!-- Partners -->
    <div class="aitspartnersw3l">
      <div id="owl-demo4" class="owl-carousel text-center">
        <div class="item">
          <img src="images/partner-1.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-2.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-3.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-4.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-5.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-6.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-7.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-8.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-9.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-10.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-11.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-12.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-13.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-14.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-15.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-16.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-17.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-18.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-19.jpg" alt="Game Robo" />
        </div>
        <div class="item">
          <img src="images/partner-20.jpg" alt="Game Robo" />
        </div>
      </div>
    </div>
    <!-- //Partners -->

    <!-- Newsletter -->
    {{!-- <div class="w3lsnewsletter" id="w3lsnewsletter">
      <div class="container">
        <div class="w3lsnewsletter-grids">
          <div
            class="col-md-5 w3lsnewsletter-grid w3lsnewsletter-grid-1 subscribe"
          >
            <p>Subscribe to our Newsletter</p>
          </div>
          <div
            class="col-md-7 w3lsnewsletter-grid w3lsnewsletter-grid-2 email-form"
          >
            <form action="#" method="post">
              <input
                class="email"
                type="email"
                name="Email"
                placeholder="Email Address"
                required=""
              />
              <input type="submit" class="submit" value="SUBSCRIBE" />
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> --}}
    <!-- //Newsletter -->

    <!-- Contact -->
    <div class="agilecontactw3ls" id="agilecontactw3ls">
      <div class="container">
        <h3>Write to Us</h3>
        <form action="#" method="post">
          <div class="col-md-6 agilecontactw3ls-grid agilecontactw3ls-grid-1">
            <input
              type="text"
              Name="First Name"
              placeholder="FIRST NAME"
              required=""
              style="border-radius: 10px;color:white;"
            />
            <input
              type="text"
              Name="Last Name"
              placeholder="LAST NAME"
              required=""
              style="border-radius: 10px;color:white;"
            />
            <input type="email" Name="Email" placeholder="EMAIL" required="" style="border-radius: 10px;color:white;"/>
          </div>
          <div class="col-md-6 agilecontactw3ls-grid agilecontactw3ls-grid-2">
            <textarea
              name="Message"
              placeholder="MESSAGE"
              required=""
              style="border-radius: 10px;color:white;"
            ></textarea>
            <div class="send-button">
              <input style="border: none;border-radius: 10px;background: linear-gradient(to top left,rgb(165, 0, 0),rgb(123, 0, 255));color: white;" type="submit"  value="SEND" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- //Contact -->

    {{!-- <!-- //Footer -->
    <div class="agilefooterwthree" id="agilefooterwthree">
      <div class="container">

        <div class="agilefooterwthree-grids">
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid1">
            <h4>INFORMATION</h4>
            <ul>
              <li><a href="#">SPECIALS</a></li>
              <li><a href="#">NEW PRODUCTS</a></li>
              <li><a href="#">TOP SELLERS</a></li>
              <li><a href="#">BLOGS</a></li>
              <li><a href="#">REVIEWS</a></li>
              <li><a href="#">NEWS</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid2">
            <h4>CATEGORIES</h4>
            <ul>
              <li><a href="#">GAME GENRES</a></li>
              <li><a href="#">PC GAMES</a></li>
              <li><a href="#">PLAYSTATION GAMES</a></li>
              <li><a href="#">XBOX GAMES</a></li>
              <li><a href="#">WII GAMES</a></li>
              <li><a href="#">ALL GAMES</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid3">
            <h4>MY ACCOUNT</h4>
            <ul>
              <li><a href="#">MY ACCOUNT</a></li>
              <li><a href="#">MY ORDERS</a></li>
              <li><a href="#">MY DOWNLOADS</a></li>
              <li><a href="#">EDIT PROFILE</a></li>
              <li><a href="#">CHANGE PASSWORD</a></li>
              <li><a href="#">DONATE</a></li>
            </ul>
          </div>
          <div class="col-md-3 agilefooterwthree-grid agilefooterwthree-grid4">
            <h4>CONTACT</h4>
            <address>
              <ul>
                <li>40019 S.p.A</li>
                <li>Parma Via Modena</li>
                <li>Sant'Agata Bolognese</li>
                <li>BO, Italy</li>
                <li>+1 (734) 123-4567</li>
                <li><a
                    class="mail"
                    href="mailto:mail@example.com"
                  >info@example.com</a></li>
              </ul>
            </address>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="agilefooterwthreebottom">
          <div
            class="col-md-6 agilefooterwthreebottom-grid agilefooterwthreebottom-grid1"
          >
            <div class="copyright">
              <p>© 2017 Game Robo. All Rights Reserved | Design by
                <a href="http://w3layouts.com/" target="=_blank">
                  W3layouts
                </a></p>
            </div>
          </div>
          <div
            class="col-md-6 agilefooterwthreebottom-grid agilefooterwthreebottom-grid2"
          >
            <div class="agilesocialwthree">
              <ul class="social-icons">
                <li><a
                    href="#"
                    class="facebook w3ls"
                    title="Go to Our Facebook Page"
                  ><i
                      class="fa w3ls fa-facebook-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="twitter w3l"
                    title="Go to Our Twitter Account"
                  ><i
                      class="fa w3l fa-twitter-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="googleplus w3"
                    title="Go to Our Google Plus Account"
                  ><i
                      class="fa w3 fa-google-plus-square"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="instagram wthree"
                    title="Go to Our Instagram Account"
                  ><i
                      class="fa wthree fa-instagram"
                      aria-hidden="true"
                    ></i></a></li>
                <li><a
                    href="#"
                    class="youtube w3layouts"
                    title="Go to Our Youtube Channel"
                  ><i
                      class="fa w3layouts fa-youtube-square"
                      aria-hidden="true"
                    ></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <a href="#agileitshome" class="agileto-top scroll" title="To Top"><img
          src="images/to-top.png"
          alt="Game Robo"
        /></a>

    </div> --}}
    <!-- //Footer -->

    <!-- Custom-JavaScript-File-Links -->

    <!-- Default-JavaScript -->
    {{!-- <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap-JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Resopnsive-Slider-JavaScript -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
      $(function () { $("#slider").responsiveSlides({ auto: true, nav: true,
      speed: 2000, namespace: "callbacks", pager: true, }); });
    </script>
    <!-- //Resopnsive-Slider-JavaScript -->

    <!-- Tab-JavaScript -->
    <script src="js/cbpFWTabs.js"></script>
    <script>
      (function() { [].slice.call( document.querySelectorAll( '.tabs' )
      ).forEach( function( el ) { new CBPFWTabs( el ); }); })();
    </script>
    <!-- //Tab-JavaScript -->

    <!-- Owl-Carousel-JavaScript -->
    <script src="js/owl.carousel.js"></script>
    <script>
      $(document).ready(function() { $("#owl-demo, #owl-demo1, #owl-demo2,
      #owl-demo3, #owl-demo4").owlCarousel({ autoPlay: 3000, items : 5,
      itemsDesktop : [1024,4], itemsDesktopSmall : [414,3] }); });
    </script>
    <!-- //Owl-Carousel-JavaScript -->

    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="js/waypoints.min.js"></script>
    <script src="js/counterup.min.js"></script>
    <script>
      jQuery(document).ready(function( $ ) { $('.counter').counterUp({ delay:
      10, time: 1000 }); });
    </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->

    <!-- Popup-Box-JavaScript -->
    <script src="js/jquery.chocolat.js"></script>
    <script type="text/javascript">
      $(function() { $('.w3portfolioaits-item a').Chocolat(); });
    </script>
    <!-- //Popup-Box-JavaScript -->

    <!-- Smooth-Scrolling-JavaScript -->
    <script type="text/javascript">
      jQuery(document).ready(function($) { $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000); });
      });
    </script> --}}
    <!-- //Smooth-Scrolling-JavaScript -->

    <!-- //Custom-JavaScript-File-Links -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  </body>
  <!-- //Body -->

</html>